.card:hover #card-svg{
    filter: drop-shadow(3px -3px 10px rgba(190, 189, 189, 0.822));
}

.card:hover .wavy{
    opacity: 1;
    transition-duration: 1s;
}

.feature-grp:hover .h-to-gray{
    color: #344a6c;
}

.card:hover .img-design{
    background: linear-gradient(45deg,#bcd5f2,#0f60bc);
    transition-duration: 20s;
    transition-timing-function: linear;
}

.card:hover #card-svg-2{
    filter: drop-shadow(3px -3px 10px rgba(22, 21, 21, 0.822));
    stroke: none;

}

.card:hover .img-design-2{
    background: linear-gradient(45deg,#4791e4, #0B72E7);
    transition-duration: 20s;
    transition-timing-function: linear;
}
