.card:hover #card-svg{
    filter: drop-shadow(3px -3px 5px rgba(19, 19, 19, 0.356));
}

.card:hover .wavy{
    opacity: 1;
    transition-duration: 300ms;
}

.feature-grp:hover .h-to-gray{
    color: #344a6c;
}

.card:hover .img-design{
    background: linear-gradient(45deg,#bcd5f2,#2b84ea);
}